 * {
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.navbar {
    margin:32px;
}

 h1{
    display: inline-block;
    font-weight: 400;
    margin-right: 35px;

 }

 .links {
    display: inline-block;
 }

  .links li{
    display: inline-block;
 }

 .links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
 }

 a.active {
    border-bottom: 2px solid black;
 }

 .card {
   width: 49%;
   display: inline-block;
   box-sizing: border-box;
   padding: 20px;

 }

 .card img {
   height: 500px;
   width: 100%;
 }

 .card h2 {
   display: inline-block;
 }